/FirstAssigment/nbproject/private/
/FirstCAOriginalCode/nbproject/private/
/FirstAssignmentProgramming/nbproject/private/
/FirstAssignmentProgramming/build/
/InputUtils/nbproject/private/
/InputUtils/build/
/homeWorkJoelma/nbproject/private/
/homeWorkJoelma/build/
/SantaList/nbproject/private/
/SantaList/build/
/JavaTesting/nbproject/private/
/JavaTesting/build/
/Fibonnacci/nbproject/private/
/Fibonnacci/build/
/FibonnacciWithScanner/nbproject/private/
/FibonnacciWithScanner/build/
/Test/nbproject/private/
/Test/build/
/Factorial/nbproject/private/
/Factorial/build/
/Git_2024229/nbproject/private/
/RevisionHomework2024229/nbproject/private/
/RevisionHomework2024229/build/
/TestCode/nbproject/private/
/Shape/nbproject/private/
/Shape/build/
/OfficeBuilding/nbproject/private/
/MyFirstClient/nbproject/private/
/MyFirstClient/build/
