/FirstAssigment/nbproject/private/
/FirstCAOriginalCode/nbproject/private/
/FirstAssignmentProgramming/nbproject/private/
/FirstAssignmentProgramming/build/
/InputUtils/nbproject/private/
/InputUtils/build/
/homeWorkJoelma/nbproject/private/
/homeWorkJoelma/build/
/SantaList/nbproject/private/
/SantaList/build/
/JavaTesting/nbproject/private/
/JavaTesting/build/
/Fibonnacci/nbproject/private/
/Fibonnacci/build/
/FibonnacciWithScanner/nbproject/private/
/FibonnacciWithScanner/build/
